// Custom.scss
// Include all of Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./global";

@mixin btn-option($color, $align) {
  background: $color;
  text-align: $align;
  border-color: $color;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1rem;
}

@mixin btn-outline-option($color, $align) {
  color: $color;
  border-color: $color;
  text-align: $align;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  .container-fluid {
    padding-left: 0;
  }
}

.container {
  max-width: auto;
}

.form-control {
  border-radius: 0px;
}

input,
textarea,
select,
button {
  font-family: $font-stack !important;
}
